<div class="header">
  <div class="logo">
    <h1>Fashions</h1>
  </div>
  <nav>
      <ul>
          <li><a routerLink="/category/woman">WOMAN</a></li>
          <li><a routerLink="/category/man">MAN</a></li>
          <li><a routerLink="/category/kids-baby">KIDS & BABY</a></li>
          <li><a href="#">DF FIT</a></li>
        </ul>
  </nav>
  <div class="search-bar">
    <input type="text" placeholder="Search: Jean Pants, Basic Body, Modern Fit Shirt, Track">
    <button>Search</button>
  </div>
  <div class="header-right">
    <a href="#">Login</a>
    <a href="#">Favorites</a>
    <a href="#">Shopping Cart</a>
  </div>
</div>
<router-outlet></router-outlet>