<div class="main">
  <div class="section" id="woman">
    <img src="https://dynamic.zacdn.com/L0fehA7HsO-_akDfZIkjyWl2FlI=/filters:quality(70):format(webp)/https://static-hk.zacdn.com/p/defacto-1134-0390356-5.jpg" alt="Woman">
    <div class="overlay">
        <a href="/category/woman"><div class="text">WOMAN</div></a>
    </div>
  </div>
  <div class="section" id="man">
    <img src="https://dfcdn.defacto.com.tr/376/B6642AX_23WN_BK81_01_02.jpg" alt="Man">
    <div class="overlay">
      <a href="/category/man"><div class="text">MAN</div></a>
    </div>
  </div>
  <div class="section" id="kids-baby">
    <img src="https://dfcdn.defacto.com.tr/376/B7286A8_24SP_GR400_01_02.jpg" alt="Kids & Baby">
    <div class="overlay">
      <a href="/category/kids-baby"><div class="text">KIDS & BABY</div></a>
    </div>
  </div>

  